@font-face {
    src: url("assets/Macondo-Regular.ttf");
    font-family: "Macondo";
}

:root {
    --font: Macondo, sans-serif;
    --font-color: rgba(200, 200, 200, 0.9);
}

html {
    height: 100%;
    /*background-image: url('../static/assets/background/forest.jpg');*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-attachment: fixed;*/
    background-image: url("assets/mossy_cobble.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
    margin: 0;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed;
    background-blend-mode: overlay;
    background-size: cover;
}

h1 {
    font-family: var(--font);
    text-align: center;
    font-size: 48px;
    color: var(--font-color);
}

.card-set {
    font-size: 16px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.terms {
    background-color: transparent;
    background-image: url('../static/assets/background/scroll background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    text-align: center;
    overflow: hidden;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item a{
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    background-color: transparent;
    background-image: url('../static/assets/button.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    color: #f6f6d8;
    border: none;
    width: 100px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
    font-family: var(--font);
}

.card-item a:hover {
    text-decoration: underline;
}

.create-flashcard {
    text-align: center;
    margin-top: 80px;
    margin-left: 30px;
}

.create-flashcard a{
    background-color: transparent;
    background-image: url('../static/assets/button.png');
    background-size: auto 140%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 40px;
    color: #f6f6d8;
    font-family: var(--font);
    text-decoration: none;
}

.create-flashcard a:hover {
    text-decoration: underline;
}

.header2 {
    background-image: url('../static/assets/flashcards/banner.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 250px;
    margin-top: 40px;
    margin-left: 50px;
}

h2 {
    font-family: var(--font);
    color: rgba(0, 0, 0, 1.0);
    font-size: 30px;
    margin-top: -25px;
    text-align: center;
}

.other-sets {
    font-family: var(--font);
    font-size: 24px;
    text-align: center;
}

.other-sets li a {
    list-style-type: none;
    color: #f6f6d8;
    text-decoration: none;
    list-style-type: none;
    margin-bottom: 20px;
}

.other-sets li a:hover {
    text-decoration: underline;
}

.dashboard {
    position: absolute;
    top: 30px;
    right: 30px;
}

.view-sets {
    position: absolute;
    top: 30px;
    right: 90px;
}

.top-buttons img {
    width: 48px;
    height: auto;
}